---
import Form from "@/components/presenters/contact.index";
import { useGetTranslations } from "@/i18n";
import Layout from "@/layouts/BlogLayout.astro";

const today = new Date();
const configTranslations = useGetTranslations(Astro);
---

<Layout
    title="Submit Form"
    description="Lorem ipsum dolor sit amet"
    pubDate={today}
>
    <div>
        <Form client:load configTranslations={configTranslations} />
    </div>
</Layout>
