main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
	min-height: calc(99.84dvh - 64px);
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding-top: 2em !important;
		padding: 0em;
	}
}
@media (max-width: 540px) {
	body {
		font-size: 18px;
	}
	main {
		width: 100%;
		max-width: 100%;
		margin: auto;
		padding-top: 2em !important;
		padding: 0;
		min-height: calc(99.84dvh - 64px);
	}
}