---
import ThemeToggle from "@/components/presenters/header.ThemeToggle.astro";
import BlurToggle from "@/components/presenters/header.BlurToggle.astro";
import DropdownMenu from "@/components/presenters/header.DropdownMenu";
import { useGetTranslations } from "@/i18n";

const configTranslations = useGetTranslations(Astro);
const currentPath = Astro.url.pathname;

const { hiddenBorder = true } = Astro.props;
---

<header
    class:list={[
        "sticky top-0 z-50 ",
        // !hiddenBorder ? "border-b" : "",
    ]}
>
    <div
        class:list={[
            "w-full max-w-[720px] mx-auto",
            "backdrop-filter bg-background/95 backdrop-filter:bg-background/60 rounded-b",
        ]}
    >
        <div class="flex h-8 items-center justify-between">
            <DropdownMenu
                client:visible
                currentPath={currentPath}
                configTranslations={configTranslations}
            />
            <div>
                <BlurToggle transition:persist />
                <ThemeToggle transition:persist />
            </div>
        </div>
        <slot />
    </div>
</header>
