---
import BaseHead from '@/components/Layouts/HeadSeo.astro';
import Footer from '@/components/Layouts/Footer.astro';
import Header from '@/components/Layouts/Header.astro';
import { themeConfig } from '@/config';
import { useGetTranslations } from '@/i18n';
import { Separator } from '@/components/ui/separator';

const configTranslations = useGetTranslations(Astro)
---

<!doctype html>
<html lang={configTranslations.lang}>
	<head>
		<BaseHead title={themeConfig.site.title} description={themeConfig.site.description} />
	</head>
	<body>
		<Header lang={configTranslations.lang} />
		<main class="flex flex-col items-center justify-center">
			<h1 class="font-[Editorial] mb-4 text-center">Khoi Nguyen - Beta</h1>
			<div class="flex h-6 items-center mt-4 space-x-4 *:cursor-pointer text-sm">
				<a href={`/vi`}>Tiếng Việt</a>
				<Separator orientation="vertical" />
				<a href={`/en`}>English</a>
			</div>
		</main>
		{themeConfig.general.footer && <Footer />}
	</body>
</html>
