---
import BaseHead from "@/components/Layouts/HeadSeo.astro";
import Footer from "@/components/Layouts/Footer.astro";
import Header from "@/components/Layouts/Header.astro";
import { themeConfig } from "@/config";
---

<html lang={"en"}>
    <head>
        <BaseHead
            title={"Changelog"}
            description={"Every update of the blog"}
        />
    </head>
    <body>
        <Header hiddenBorder={false} />
        <main>
            <article>
                <div>
                    <h1 class="font-[Editorial] mb-10 pl-4">Changelog</h1>
                    <hr class="mb-10" />
                    <slot />
                </div>
            </article>
        </main>
        {
            themeConfig.general.footer && (
                <Footer hiddenBorder={false} showRegister={false} />
            )
        }
    </body>
</html>

<style is:inline>
    article > * {
        margin-bottom: 2rem;
    }
    p {
        line-height: 1.86;
    }
</style>

<style is:inline>
    article ul {
        list-style-type: circle;
        padding-left: -1.6rem; /* thụt vào */
        margin: 2rem 0; /* khoảng cách trên dưới */
        list-style-position: inside;
    }

    article li {
        margin-bottom: 0.5rem; /* cách dòng */
        line-height: 1.6; /* thoáng mắt */
    }

    /* dòng cuối không cần margin */
    article li:last-child {
        margin-bottom: 0;
    }
</style>
